{% extends "base.html" %}
{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">Derivar</button>
    </form>
{% endblock %}