{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/statics_pro.css' %}">
</head>
<body>
    <body style = "background-color: #afcbff"></body>
<section class="vh-100">
    <div class="container-fluid h-custom">
       <h1 class="text-center" style="color: black">Turnero </h1>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src={% static 'img/turn.png' %}
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <!-- Email input -->
                <h2>Iniciar sesión</h2>
                <form method="POST">
                    {% csrf_token %}
                    <label for="username">Nombre de usuario: </label>
                    <br>
                    {{ form.username }}
                    <br>
                    <label for="contraseña">Contraseña: </label>
                    <br>
                    {{ form.password }}
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a href="{% url 'register' %}"
                                                                                          class="link-danger">Registrarse</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</section>

</body>
</html>
