{% extends "base.html" %}
{% block content %}
<body style = "background-color: #afcbff"></body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">Registrar</button>
    </form>
{% endblock %}