{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/statics_pro.css' %}">
    <title>Registro</title>
</head>
<body>
    <body style = "background-color: #afcbff"></body>
<div style="padding: 10px">
    <h1 class="text-center" style="color: #0D6EFD">Turnero</h1>
    <h2>Regístrate</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse
        </button>
        <a href="{% url 'login' %}" class="btn btn-secondary">Iniciar Sesion</a>
    </form>
</div>
</body>
</html>
